<section class="employee-panel" *ngIf="isEmployee()">
  <h1>{{ "employee-panel.headline" | translate }}</h1>
  <p>
    {{ getGreetingKey() | translate }} {{ currentEmployeeData?.first_name }}!
    {{ "employee-panel.wishes" | translate }} :)
  </p>

  <section class="section-wrapper">
    <section class="employee-data">
      <h2>{{ "employee-panel.contact_data" | translate }}</h2>
      <p>
        {{ "employee-management.first_name" | translate }}:
        {{ currentEmployeeData?.first_name }}
      </p>
      <p>
        {{ "employee-management.last_name" | translate }}:
        {{ currentEmployeeData?.last_name }}
      </p>
      <p>Email: {{ currentEmployeeData?.email }}</p>
      <p>
        {{ "employee-management.phone" | translate }}:
        {{ currentEmployeeData?.phone_number }}
      </p>
      <h2>{{ "employee-panel.employment_details" | translate }}</h2>
      <p>
        {{ "employee-management.job" | translate }}:
        {{ "employee-management.jobs." + currentEmployeeData?.job | translate }}
      </p>
      <p>
        {{ "employee-management.employment_type" | translate }}:
        {{
          "employee-management.employment_types." +
            currentEmployeeData?.employment_type | translate
        }}
      </p>
      <p>
        {{ "employee-management.hourly_wage" | translate }}:
        {{ currentEmployeeData?.hourly_wage }} zl
      </p>
      <p>
        {{ "employee-management.hired_at" | translate }}:
        {{ currentEmployeeData?.hired_at | date : "dd.MM.yyyy" }}
      </p>

      
    </section>

    <section class="actions-buttons">
      <h2>{{ "employee-panel.actions_heading" | translate }}</h2>
      <button class="btn btn-success" [routerLink]="['/order-management']">
        {{ "employee-panel.buttons.order_management" | translate }}
      </button>
      <button class="btn btn-success" [routerLink]="['/order-status-display']">
        {{ "employee-panel.buttons.order_status_display" | translate }}
      </button>
      <button class="btn btn-success" [routerLink]="['/work-schedule']">
        {{ "employee-panel.buttons.work_schedule" | translate }}
      </button>


        <button class="btn btn-success button-update" (click)="updateCurrentEmployeeCredential('email')">
          {{ "employee-panel.buttons.update_email" | translate }}
        </button>
        <button class="btn btn-success button-update" (click)="updateCurrentEmployeeCredential('password')">
          {{ "employee-panel.buttons.update_password" | translate }}
        </button>
    </section>
  </section>

  <button class="btn btn-danger" (click)="logout()">
    {{ "employee-panel.buttons.button_logout" | translate }}
  </button>
</section>

<section class="verification-required" *ngIf="!isEmployee()">
  <h1>{{ "verification_required.headline" | translate }}</h1>
  <p>{{ "verification_required.paragraph" | translate }}</p>
</section>
