<section class="jobs">
    <h1>{{ 'jobs.headline' | translate }}</h1>
    <p>{{ 'jobs.paragraph_top' | translate }}</p>

    <mat-accordion *ngFor="let job of jobsWithGeneralDetails">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="specific-class">
            <mat-panel-title>
              {{ job.position_name }}
            </mat-panel-title>

          </mat-expansion-panel-header>
          <section class="job-details-section">
            <span class="job-details-header">{{ 'jobs.description' | translate }}</span>
            <ul>
              <li class="job-details-detail">{{ job.description }}</li>
            </ul>

            <ng-container *ngIf="getMandatoryRequirements(job).length != 0">
              <span class="job-details-header">{{ 'jobs.requirements' | translate }}</span>
              <ul *ngFor="let requirement of getMandatoryRequirements(job)">
                <li class="job-details-detail">{{ requirement.description }}</li>
              </ul>
            </ng-container>

            <ng-container *ngIf="getNiceToHaveRequirements(job).length != 0">
              <span  class="job-details-header">{{ 'jobs.nice_to_have' | translate }}</span>
              <ul *ngFor="let requirement of getNiceToHaveRequirements(job)">
                <li class="job-details-detail">{{ requirement.description }}</li>
              </ul>
            </ng-container>

            <span class="job-details-header">{{ 'jobs.monthly_salary' | translate }}: {{ job.monthly_salary }} zl</span>
          </section>
        </mat-expansion-panel>
    </mat-accordion>
</section>