<section class="awards">
    <section class="top">
        <h1>{{ 'home.awards_section.headline' | translate }}</h1>
        <p>{{ 'home.awards_section.paragraph_top' | translate }}</p>
        <p>{{ 'home.awards_section.paragraph_bottom' | translate }}</p>
    </section>

    <section class="bottom">
        <img src="assets/images/cert2.png" class="cert2" />
        <img src="assets/images/cert1.jpg" class="cert1" />
        <img src="assets/images/cert3.jpg" class="cert3" />
    </section>
</section>
