<section class="menu">
    <h1>Menu</h1>

    <p>{{ 'menu.meals.paragraph_meals' | translate }}</p>
    <table class="table-meals">
        <thead>
            <th>{{ 'menu.meals.meal' | translate }}</th>
            <th>{{ 'menu.meals.prices' | translate }}</th>
            <th>{{ 'menu.meals.base_ingredients' | translate }}</th>
        </thead>
        <tbody>
            <tr *ngFor="let meal of meals">
                <td><span class="meal-name">{{ 'menu.meals.' + meal.name | translate }}</span></td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'menu.meals.size' | translate }}</th>
                                <th>{{ 'menu.meals.price' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let price of meal.prices | keyvalue: sortSizes">
                                <td>{{ 'menu.meals.sizes.' + price.key | translate }}</td>
                                <td>{{ formatPrice(price.value) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="base-ingredients">
                    <ul *ngFor="let ingredient of meal.ingredients">
                        <li>
                            <i *ngIf="ingredient.ingredient_type === 'BREAD'" class="fa-solid fa-bread-slice"></i>
                            <i *ngIf="ingredient.ingredient_type === 'VEGETABLE'" class="fa-solid fa-carrot"></i>
                            <i *ngIf="ingredient.ingredient_type === 'OTHER'" class="fa-solid fa-plus"></i> 
                            {{ 'menu.meals.ingredients.' + ingredient.name | translate}}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <p>{{ 'menu.addons.paragraph_addons' | translate }}</p>
    <button class="btn btn-success" *ngIf="isManager() && !isEditing" (click)="showAddAddonTable()">{{ 'menu.addons.button_add' | translate }}</button>
    
    <p *ngIf="errorMessages['newAddonName']" class="error">{{ errorMessages['newAddonName'] }}</p>
    <p *ngIf="errorMessages['newAddonPrice']" class="error">{{ errorMessages['newAddonPrice'] }}</p>

    <p *ngIf="errorMessages['updatedAddonPrice']" class="error">{{ errorMessages['updatedAddonPrice'] }}</p>

    <p *ngIf="errorMessages['itemType'] === 'addon'" class="error">{{ errorMessages['message'] }}</p>

    <table class="add-addon-table" *ngIf="isAddingAddon">
        <tr>
            <td>
                <button class="button-accept" (click)="addAddon()">{{ 'menu.accept' | translate }}</button>
                <button class="button-cancel" (click)="hideAddAddonTable()">{{ 'menu.cancel' | translate }}</button>
            </td>
            <td>
                <input type="text" placeholder="{{ 'menu.addons.addon' | translate }}"  [(ngModel)]="newAddon.new_addon_name" />
            </td>
            <td>
                <input type="number" placeholder="{{ 'menu.addons.price' | translate }}" [(ngModel)]="newAddon.new_addon_price" step="0.5" /> zl
            </td>
        </tr>
    </table>
    
    <table class="table-addons">
        <thead>
            <th *ngIf="isManager()"></th>
            <th>{{ 'menu.addons.addon' | translate }}</th>
            <th>{{ 'menu.addons.price' | translate }}</th>
        </thead>
        <tbody>
            <tr *ngFor="let addon of addons"
                [formGroup]="addonForms[addon.name]"
            >
                <td *ngIf="isManager()" class="manager">
                    <button class="button-update" *ngIf="!addon.isEditing" (click)="editAddonRow(addon)">{{ 'menu.update' | translate }}</button>
                    <button class="button-accept" *ngIf="addon.isEditing" (click)="saveAddonRow(addon)">{{ 'menu.accept' | translate }}</button>
                    <button class="button-cancel" *ngIf="addon.isEditing" (click)="hideEditableAddonRow(addon)">{{ 'menu.cancel' | translate }}</button>
                    <button class="button-remove" *ngIf="!addon.isEditing" (click)="removeAddon(addon)">{{ 'menu.remove' | translate }}</button>
                </td>
                
                <td *ngIf="isAddonTranslationAvailable(addon.name); else defaultName">{{ 'menu.addons.' + addon.name | translate }}</td>
                <ng-template #defaultName>
                    <td>{{ addon.name }}</td>
                </ng-template>

                <td *ngIf="!addon.isEditing">{{ formatPrice(addon.price) }}</td>
                <td *ngIf="addon.isEditing">
                    <input type="number" formControlName="price" step="0.01" />
                </td>
            </tr>
        </tbody>
    </table>

    <p>{{ 'menu.beverages.paragraph_beverages' | translate }}</p>
    <button class="btn btn-success" *ngIf="isManager() && !isEditing" (click)="showAddBeverageTable()">{{ 'menu.beverages.button_add' | translate }}</button>
    
    <p *ngIf="errorMessages['newBeverageName']" class="error">{{ errorMessages['newBeverageName'] }}</p>
    <p *ngIf="errorMessages['newBeverageCapacity']" class="error">{{ errorMessages['newBeverageCapacity'] }}</p>
    <p *ngIf="errorMessages['newBeveragePrice']" class="error">{{ errorMessages['newBeveragePrice'] }}</p>
    
    <p *ngIf="errorMessages['updatedBeverageName']" class="error">{{ errorMessages['updatedBeverageName'] }}</p>
    <p *ngIf="errorMessages['updatedBeverageOldCapacity']" class="error">{{ errorMessages['updatedBeverageOldCapacity'] }}</p>
    <p *ngIf="errorMessages['updatedBeverageNewCapacity']" class="error">{{ errorMessages['updatedBeverageNewCapacity'] }}</p>
    <p *ngIf="errorMessages['updatedBeveragePrice']" class="error">{{ errorMessages['updatedBeveragePrice'] }}</p>

    <p *ngIf="errorMessages['itemType'] === 'beverage'" class="error">{{ errorMessages['message'] }}</p>
    <table class="add-beverage-table" *ngIf="isAddingBeverage">
        <tr>
            <td>
                <button class="button-accept" (click)="addBeverage()">{{ 'menu.accept' | translate }}</button>
                <button class="button-cancel" (click)="hideAddBeverageTable()">{{ 'menu.cancel' | translate }}</button>
            </td>
            <td>
                <input type="text" placeholder="{{ 'menu.beverages.beverage' | translate }}"  [(ngModel)]="newBeverage.new_beverage_name" />
            </td>
            <td>
                <input type="number" placeholder="{{ 'menu.beverages.capacity' | translate }}" [(ngModel)]="newBeverage.new_beverage_capacity" step="0.05" /> L
            </td>
            <td>
                <input type="number" placeholder="{{ 'menu.beverages.price' | translate }}" [(ngModel)]="newBeverage.new_beverage_price" /> zl
            </td>
        </tr>
    </table>
    <table class="table-beverages">
        <thead>
            <th *ngIf="isManager()"></th>
            <th>{{ 'menu.beverages.beverage' | translate }}</th>
            <th>{{ 'menu.beverages.capacity' | translate }}</th>
            <th>{{ 'menu.beverages.price' | translate }}</th>
        </thead>
        <tbody>
            <tr *ngFor="let beverage of beverages"
                [formGroup]="beverageForms[beverage.name]"
            >
                <td *ngIf="isManager()" class="manager">
                    <button class="button-update" *ngIf="!beverage.isEditing" (click)="editBeverageRow(beverage)">{{ 'menu.update' | translate }}</button>
                    <button class="button-accept" *ngIf="beverage.isEditing" (click)="saveBeverageRow(beverage)">{{ 'menu.accept' | translate }}</button>
                    <button class="button-cancel" *ngIf="beverage.isEditing" (click)="hideEditableBeverageRow(beverage)">{{ 'menu.cancel' | translate }}</button>
                    <button class="button-remove" *ngIf="!beverage.isEditing" (click)="removeBeverage(beverage)">{{ 'menu.remove' | translate }}</button>
                </td>

                <td *ngIf="isBeverageTranslationAvailable(beverage.name); else defaultName">{{ 'menu.beverages.' + beverage.name | translate }}</td>
                <ng-template #defaultName>
                    <td>{{ beverage.name }}</td>
                </ng-template>

                <td *ngIf="!beverage.isEditing">{{ formatCapacity(beverage.capacity) }}</td>
                <td *ngIf="beverage.isEditing">
                    <input type="number" formControlName="capacity" />
                </td>

                <td *ngIf="!beverage.isEditing">{{ formatPrice(beverage.price) }}</td>
                <td *ngIf="beverage.isEditing">
                    <input type="number" formControlName="price" step="0.01" />
                </td>
            </tr>
        </tbody>
    </table>
</section>
