<footer>
    <section class="top">
        <a class="logo"><img src="assets/images/logo.png" alt="Logo"></a>
        <a [routerLink]="['/']">{{ 'common.footer.home' | translate }}</a>
        <a [routerLink]="['/opening-hours']">{{ 'common.footer.opening_hours' | translate }}</a>
        <a href="#">{{ 'common.footer.menu' | translate }}</a>
        <a href="#">{{ 'common.footer.promotions' | translate }}</a>
        <a href="#">{{ 'common.footer.jobs' | translate }}</a>
        <a href="#">{{ 'common.footer.contact' | translate }}</a>
    </section>
    <hr>
    <section class="bottom">
        <section class="icons">
            <i class="fa-brands fa-facebook-f fa-2xl"></i>
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-tiktok fa-2xl"></i>
            <i class="fa-solid fa-envelope fa-2xl"></i>
        </section>
        <section class="copyright">
            <p>© 2024 Wiktor Chudy. All Rights Reserved.</p>
        </section>
    </section>
</footer>
