.order-management {
    padding: 3rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    h1 {
        color: red;
        text-align: center;
    }
    
    p {
        text-align: center;
        color: white;
        font-size: 24px;
        width: 40%;
        margin-bottom: 0.2em;
    }

    .button-today-section {
        margin-bottom: 1em;
    }

    .button-past-section {
        margin-bottom: 5em;
    }

    .button-today-section, .button-past-section {
        display: flex;
        gap: 1em;

        @media (max-width: 790px) {
            width: 80%;
            flex-direction: column;
        }
    }

    button {
        @media (max-width: 790px) {
            width: 100%;
        }
    }

    .btn-danger {
        background-color: #ff0000;
        display: block;
        margin: 0 auto;
    
        &:hover {
            background-color: #b90909;
        }
    }

    .orders {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 1.5rem;

        @media (max-width: 420px) {
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        }
    }

    .card-body {
        padding: 1rem;
        background-color: rgb(56, 56, 56);
        border-radius: 16px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;

        i {
            color: red;
        }

        h4 {
            font-size: 24px;
            text-align: center;
            color: red;
            margin-bottom: 1.25rem;
            padding-bottom: 0.75rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        h5 {
            font-size: 20px;
            color: red;
            margin-top: 1.25rem;
            margin-bottom: 0.75rem;
            padding-bottom: 0.25rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        p {
            font-size: 16px;
            width: 100%;
            margin-bottom: 0.5rem;
            color: white;
        }

        .meal-ul, .beverage-ul, .addon-ul {
            padding-left: 0;
            list-style: none;
            color: white;
            margin-bottom: 0.5rem;
        }

        button {
            margin-top: 1.5rem;
            padding: 0.6rem 1rem;
            border-radius: 8px;
            border: none;
            font-weight: 500;
            transition: all 0.2s ease;
            background-color: #555;
            color: white;
            cursor: pointer;
            
            &:first-of-type {
                background-color: rgb(0, 119, 255);;
                margin-right: 0.5rem;
                
                &:hover {
                    background-color: #1a68d1;
                }
            }
            
            &:last-of-type {
                background-color: red;

                &:hover {
                    background-color: #b90909;
                }
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        button {
            width: calc(50% - 0.25rem);
            float: left;
        }
    }
}

.verification-required {
    padding: 3rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    h1 {
        color: red;
        text-align: center;
    }
    
    p {
        text-align: center;
        color: white;
        font-size: 24px;
        width: 80%;
        margin-bottom: 0.2em;
    }
}