<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo.png" alt="Logo">
      </a>
      
      <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNav" 
              aria-controls="navbarNav" 
              aria-expanded="false" 
              aria-label="Toggle navigation"
      >
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" 
               routerLink="/"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
               {{ 'common.navbar.home' | translate }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
               routerLink="/opening-hours"
               routerLinkActive="active">
               {{ 'common.navbar.opening_hours' | translate }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
               routerLink="/menu"
               routerLinkActive="active">
               {{ 'common.navbar.menu' | translate }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
              routerLink="/promotions"
              routerLinkActive="active">
              {{ 'common.navbar.promotions' | translate }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">{{ 'common.navbar.contact' | translate }}</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <button class="btn btn-outline-light" id="languageSwitcher" (click)="switchLanguage()">
              {{ currentFlag }}
            </button>
          </li>

          <li class="nav-item">
              <a class="btn btn-danger" href="#">{{ 'common.navbar.order' | translate }}</a>
          </li>

          <li class="nav-item" *ngIf="isManager()">
            <a class="btn btn-danger" [routerLink]="['/manager-panel']">{{ 'common.navbar.manager' | translate }}</a>
          </li>
          <li class="nav-item" *ngIf="isEmployee()">
            <a class="btn btn-danger" [routerLink]="['/employee-panel']">{{ 'common.navbar.employee' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>