<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="Logo">
      </a>
      
      <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNav" 
              aria-controls="navbarNav" 
              aria-expanded="false" 
              aria-label="Toggle navigation"
      >
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Strona glowna</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Godziny otwarcia</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Menu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Promocje</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Kontakt</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <button class="btn btn-outline-light" id="languageSwitcher">
                🇺🇸
            </button>
          </li>

          <li class="nav-item">
              <button class="btn btn-outline-light" id="darkModeToggle">
                ☀️
              </button>
          </li>

          <li class="nav-item">
              <a class="btn btn-danger" href="#">Zamów</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>