body {
  background-color: black;
  padding-top: 9.2rem;
}

* {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.swal-radio-container {
  background-color: #141414 !important;
}

.swal-radio-container label {
  color: white !important;
}

.swal-radio-container input[type="radio"] {
  accent-color: red; 
}