body {
  background-color: black;
  padding-top: 9.2rem;
}

* {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.swal-radio-container {
  background-color: #141414 !important;
}

.swal-radio-container label {
  color: white !important;
}

.swal-radio-container input[type="radio"] {
  accent-color: red; 
}

.swal-radio-container-orders {
  background-color: #141414 !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.swal-radio-container-orders input[type="radio"] {
  accent-color: red; 
}

.swal-actions-vertical {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 2px !important; 
  width: 100%;
}

.swal-confirm-btn,
.swal-deny-btn,
.swal-cancel-btn {
  width: 80% !important; 
  padding: 10px !important;
}

.verification-required {
  min-height: 50vh;
  padding: 3rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

  h1 {
    color: red;
    text-align: center;
  }

  p {
    text-align: center;
    color: white;
    font-size: 24px;
    width: 80%;
    margin-bottom: 0.2em;
  }
}
