.opening-hours {
    padding: 3rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: red;
    text-align: center;
}

p {
    width: 40%;
    text-align: center;
    color: white;
    font-size: 24px;
}

thead {
    border-bottom: 3px solid red;
}

table {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 24px;
    text-align: center;
    width: 60%;
}

th {
    background-color: black;
    color: red;
}

td {
    color: white;
    background: none;
}

@media (max-width: 1000px) {
    table {
        width: 80%;
    }
}

@media (max-width: 800px) {
    p {
        width: 60%;
    }

    table {
        width: 80%;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    p {
        width: 80%;
    }
}